body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url(https://images.pexels.com/photos/2086917/pexels-photo-2086917.png?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttonHip {
  border: 1px solid green;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  height: 50px;
  width: 200px;
  border-radius: 20px 5px 20px 0px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font: 15px sans-serif;
  font-weight: 300;
  text-shadow: 0 0 20px #fff;
  text-transform: uppercase;
  -webkit-animation: breath2 2s .5s infinite alternate;
          animation: breath2 2s .5s infinite alternate;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  cursor: pointer;
}

.buttonHip:before {
  content: "";
  display: block;
  width: calc(100% - 22px);
  height: calc(50px - 8px);
  -webkit-animation: breath 2s infinite alternate;
          animation: breath 2s infinite alternate;
  left: 10px;
  top: 3px;
  position: absolute;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 15px 3px 15px 3px;
}

.buttonHip.fire {
  border-color: #ffeca8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 138, 48, 0.6)), to(rgba(240, 96, 29, 0.6)));
  background-image: linear-gradient(to bottom, rgba(255, 138, 48, 0.6), rgba(240, 96, 29, 0.6));
  -webkit-box-shadow: 0 0 70px rgba(255, 138, 48, 0.6), 0 5px 20px rgba(255, 138, 48, 0.6), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
          box-shadow: 0 0 70px rgba(255, 138, 48, 0.6), 0 5px 20px rgba(255, 138, 48, 0.6), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
  color: #ffeca8;
}

.buttonHip.fire:before {
  -webkit-box-shadow: inset 0 0 30px 0 #ffeca8;
          box-shadow: inset 0 0 30px 0 #ffeca8;
}

.buttonHip.ice {
  border-color: #a8ecff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(48, 138, 255, 0.5)), to(rgba(29, 96, 240, 0.5)));
  background-image: linear-gradient(to bottom, rgba(48, 138, 255, 0.5), rgba(29, 96, 240, 0.5));
  -webkit-box-shadow: 0 0 70px rgba(48, 138, 255, 0.5), 0 5px 20px rgba(48, 138, 255, 0.5), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
          box-shadow: 0 0 70px rgba(48, 138, 255, 0.5), 0 5px 20px rgba(48, 138, 255, 0.5), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
  color: #a8ecff;
}

.buttonHip.ice:before {
  -webkit-box-shadow: inset 0 0 30px 0 #a8ecff;
          box-shadow: inset 0 0 30px 0 #a8ecff;
}

.buttonHip:hover.fire {
  -webkit-box-shadow: 0 0 70px rgba(255, 138, 48, 0.8), 0 5px 20px rgba(255, 138, 48, 0.8), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
          box-shadow: 0 0 70px rgba(255, 138, 48, 0.8), 0 5px 20px rgba(255, 138, 48, 0.8), inset 0 1px #ffeca8, inset 0 -1px #ffeca8;
}

.buttonHip:hover.fire:before {
  -webkit-box-shadow: inset 0 0 50px 0 #ffeca8;
          box-shadow: inset 0 0 50px 0 #ffeca8;
}

.buttonHip:hover.ice {
  -webkit-box-shadow: 0 0 70px rgba(48, 138, 255, 0.8), 0 5px 20px rgba(48, 138, 255, 0.8), inset 0 1px #a8ecff, inset 0 -1px #a8ecff;
          box-shadow: 0 0 70px rgba(48, 138, 255, 0.8), 0 5px 20px rgba(48, 138, 255, 0.8), inset 0 1px #a8ecff, inset 0 -1px #a8ecff;
}

.buttonHip:hover.ice:before {
  -webkit-box-shadow: inset 0 0 50px 0 #a8ecff;
          box-shadow: inset 0 0 50px 0 #a8ecff;
}

.buttonHip + .buttonHip {
  margin-top: 15px;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

@-webkit-keyframes breath {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0.95);
            transform: scaleX(0.95);
  }
}

@keyframes breath {
  0% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    -webkit-transform: scaleX(0.95);
            transform: scaleX(0.95);
  }
}

@-webkit-keyframes breath2 {
  0% {
    -webkit-transform: skewX(-10deg) scaleX(1);
            transform: skewX(-10deg) scaleX(1);
  }
  100% {
    -webkit-transform: skewX(-10deg) scaleX(0.95);
            transform: skewX(-10deg) scaleX(0.95);
  }
}

@keyframes breath2 {
  0% {
    -webkit-transform: skewX(-10deg) scaleX(1);
            transform: skewX(-10deg) scaleX(1);
  }
  100% {
    -webkit-transform: skewX(-10deg) scaleX(0.95);
            transform: skewX(-10deg) scaleX(0.95);
  }
}

.ref {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 5px 8px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight: 300;
  font-family: sans-serif;
  text-decoration: none;
}

.ref::first-letter {
  font-size: 12px;
}
span{
  font-weight: bold;
  font-size: 20px;
}
/*# sourceMappingURL=button-styles.css.map */